/*index*/
.navbar {
  border-bottom: 3px ridge rgba(33,37,41,0.17);
}

.btn {
  color: white;
  background: #045b62;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-style: none;
  border-color: #045b62;
}

/*Noticication.html*/
.containercard{
  margin-left: 50px;
}

/*publicusersignin.html*/
/*publicusersignin.html*/
/*publicusersignin.html*/
.signin-section {
  margin-top: 6rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.signin-section h2 {
  font-size: 20px;
  margin-bottom: 3rem; /* Adjust the margin-bottom value as per your preference */
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  line-height: 1.6;
  height: auto;
}

.toggle-password {
  background: rgba(255, 255, 255, 0);
  border-style: none;
}

.text-right a {
  text-decoration: none;
  color: #919191;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

/* Remove blue shadow when clicking the switch */
.form-check-input:focus {
  box-shadow: none !important;
}

main {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.main-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.first-input {
  margin-top: 2rem;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#errorMessage {
  color: red;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}
